body {
    background-color: #00D3FA;
    color: white;
}

h1 {
    color: white;
    font-family: "Varela Round";
    text-align: center;
    font-size: 48px;
    margin: 3%;
    text-shadow: 0 4px 0 #0000000f;
}

p {
    font-size: 24px;
}

form {
    margin-left: auto;
    margin-right: auto;
}

:placeholder-shown {
    font-family: "Varela Round";
    font-size: 24px;
    color: rgba(0,0,0,.6);
}

#count {
    margin: auto;
    background: #FF9800!important;
    box-shadow: inset 0 -5px 0 0 rgba(0,0,0,.1), 0 3px 8px rgba(0,0,0,.14);
    color: white!important;
    border: none!important;
    font-family: "Varela Round";
    font-size: 36px;
    border-radius: 15px;
    height: 75px;
    width: 250px;
    margin: 5%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    display: block;
    cursor: pointer;
}

#count:hover {
    background-color: #FF9800!important
}

#count:active {
    background-color: #FF9800!important;
    border: 1px solid #FF9800;
    transform: translateY(4px);
    box-shadow: none;
}

.table {
    font-size: 36px;
}

.table-header-class {
    font-size: 28px;
    font-family: "Varela Round";
    color: black;
    text-align: left;
    padding-left: 25px
}

.table-data-class {
    font-size: 22px;
    font-family: "Varela Round";
    color: black;
    padding-left: 25px;
    padding-right: 25px;
}

textarea {
    border-radius: 20px;
    border: none;
    border-color: black;
    box-shadow: 0 9px 20px rgba(0,0,0,.14);
    padding: 20px;
    font-family: "Varela Round";
    font-size: 24px;
    color: rgba(0,0,0,.6);
    resize: none;
    width: 36%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    outline: none;
    display: block;
}

textarea::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* The sidepanel menu */
.sidepanel {
    height: 100%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 70%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
}

.sidepanel-h1 {
    color: black;
    font-size: 36px;
}

.sidepanel-h2 {
    color: black;
    font-size: 30px;
    font-family: "Varela Round";
    padding-left: 20px;
}

/* The sidepanel links */
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.1s;
}
  
/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #f1f1f1;
}
  
/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}